[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

certifi = "==2017.7.27.1"
idna = "==2.6"
requests = "*"
python-telegram-bot = "*"
python-dotenv = "*"
envparse = "*"
zappa = "*"
flask-testing = "*"
mock = "*"
pytest = "*"
slumber = "*"
mistune = "*"
schematics = "*"
"boto3" = "*"
raven = "*"
"flake8" = "*"
langsplit = "*"
django = "*"
dj-database-url = "*"
"jinja2" = "*"
"psycopg2" = "*"
click = "*"
django-autofixture = {git = "https://github.com/volrath/django-autofixture.git"}


["dev-packages"]

ipdb = "*"
ipython = "*"
